
  .Stickies {
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding: 5px;
  }
  body {
  background-color: rgb(30, 30, 30);
}
label{
  color: rgba(255, 255, 255, 0.705);

}
.NavLink{
  color: rgba(255, 255, 255, 0.705);
}
  h4{
    
    color: rgba(255, 255, 255, 0.705);
   
    text-align: center;
    padding: 10px;
  }
  h1{
    color: rgba(255, 255, 255, 0.705);
    text-align: center;
  }
  
  h2{
    text-align: center;
    color: rgba(255, 255, 255, 0.705);
    
  }
  h3{
    text-align: center;
    color: rgba(255, 255, 255, 0.705);

  }

  .Sticky {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin: 5px;
    padding: 20px;
    min-width: 200px;
    width: 240px;
    height: 150px;
    border: 1px solid rgba(255, 255, 255, 0.705);
    font-size: 15px;
    box-shadow: 4px 6px rgba(200,200,200,0.8);
    text-transform: capitalize;
    text-align: center;
    
    float: left;
   
  }

  form {
    font-size: 150%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    padding: 5px;
  }
  
